:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('https://i.ibb.co/7Xc0xfj/Background-unit1a.jpg');
}

.page-header {
  text-align: center;
  margin: 1rem;
  font-size: 4rem;
  background-color: white;
  color: pink;
}

.command-list > li > header {
  background-color: white;
  color: black;
  padding: 1rem;
  font-size: 1.5rem;
  margin: left;
  text-align: center;
  border: 0.23rem solid palevioletred;
  border-radius: 25px;
}

.command-list > li > p {
  background-color: white;
  color: Pink;
  border: 0.25rem solid palevioletred;
  border-radius: 25px;
  text-align: center;
  margin-block-start: 1px;
  margin-block-end: 1px;
  margin: 2rem;
}

.topnav {
  text-align: center;
  font-size: 2rem;
  background-color: gainsboro;
}

h1 {
  font-family: 'Righteous', cursive;
}

#body {
  width: 200px;
  height: 200px;
  margin-left: 35rem;
}

#body2 {
  width: 200px;
  height: 200px;
  margin-left: 0rem;
}

#mouthy {
  float: right;
}
